/* styles.css */
html {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
}

#chat-container {
    width: 100%; /* Total width of 500 (output) + 200 (input) */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

#chat-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}


#menu-button {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

#chat-output {
    width: 100%; /* Width of the output box */
    height: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    /*padding: 10px;*/
    overflow:scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat-messages {
    margin-bottom: 10px;
}

.message {
    max-width: 70%;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.user-message {
    background-color: #f5f5f5;
    color: #000;
}

#chat-input {
<<<<<<< HEAD
    width: 100%; /* Width of the input section */
    /*height: 100%;*/
=======
    width: 700px; /* Width of the input section */
    height: 200px;
    padding: 10px;
>>>>>>> a385c3d5a62471663b10088d239e79e88a6417fe
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    /*border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
}

#user-input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
